//! **************************************************************************
// Written by: Map H.38 on Wed Oct 14 16:59:20 2015
//! **************************************************************************

SCHEMATIC START;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
